:root {
    --right-pos: #6aaa64;
    --wrong-pos: #f1c40f;
    --not-in: #787c7e;
    --bg-main: white;
    --bg-wrapper: var(--bg-main);
}

#keyboard {
    /*  */
}

body {
    font-family: 'Cabin', sans-serif;
    user-select: none;
    overflow: hidden;
}

.title {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.separation {
    width: 100%;
    border-top: 0.5px solid black;
}

body {
    background-color: var(--bg-main);
}

.wrapper {
    background: var(--bg-wrapper);
    /* height: 650px; */
    border-radius: 10px;
    margin: 5px;
}

.box {
    border: 5px solid silver;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    /* border-radius: 10px; */
    /* box-shadow:   .2em .2em .4em #a3a7bd,-.2em -.2em .4em #fff; */
    height: 40px;
    width: 40px;
    font-size: 30px;
    text-align: center;
}

.row {
    margin-top: 10px;
    /* width: 400px; */
}

.wait {
    background-color: #d3d6da;
}

.right-pos.text {
    background-color: var(--right-pos);
    border: 5px solid var(--right-pos);
    color: white;
}

.wrong-pos.text {
    background-color: var(--wrong-pos);
    border: 5px solid var(--wrong-pos);
    color: white;
}

.not-in.text {
    background-color: var(--not-in);
    border: 5px solid var(--not-in);
    color: white;
}

.right-pos.key {
    background-color: var(--right-pos);
    border: 0px solid var(--right-pos);
    color: white;
}

.wrong-pos.key {
    background-color: var(--wrong-pos);
    border: 0px solid var(--wrong-pos);
    color: white;
}

.not-in.key {
    background-color: var(--not-in);
    border: 0px solid var(--not-in);
    color: white;
}

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

.key {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 29px;
    height: 40px;
    font-size: 13px;
    cursor: pointer;
    margin: 0px 6px 0px 0px;
}

.actions {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 45px;
    height: 40px;
    font-size: 13px;
    cursor: pointer;
    margin: 0px 6px 0px 0px;
}

